<footer>
    <section>
        <div class="ico-footer">
            <i class="far fa-credit-card azul"></i>
            <h4>Paga con tarjeta y efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="ico-footer">
            <i class="fas fa-gift azul"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de products. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="ico-footer">
            <i class="fas fa-user-shield azul"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>

        </div>
        <div>
            <h5>Copyright &copy; 1999-2021 MercadoLiebre S.R.L.</h5>
        </div>
    </section>
</footer>