<header>
    <div class="main-header-top-bar">
        <div id="top-logo">
            <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="Mercado Liebre" class="logo"></a>
        </div>
        <section id="buscador">
            <div class="box" action="#" method="GET">
                <div class="container-1">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input type="search" id="search" placeholder="Buscar products, marcas y más..." />
                </div>
            </div>
        </section>
        <div class="copy-header"><i class="fas fa-hand-holding-usd"></i> Sistema de Administracion de products
        </div>
    </div>
    <div class="burguer-menu">
        <i class="fa fa-bars burguer"></i>
    </div>
    <nav class="main-navbar">
        <ul class="letf-navbar">
            <li><a href="/products"> Products</a></li>
            <li><a href="/products/create"> Nuevo</a></li>
            <li><a href="#"> Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
            <li><a href="/register"> Crea tu cuenta <i class="far fa-address-card"></i> </a> </li>
            <li><a href="/login"> Ingresa <i class="fas fa-sign-out-alt"></i> </a> </li>
        </ul>
    </nav>
</header>