<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <main>
    <section>
     <form action="/home" method="get" class="create-form">
        <div class="control-formulario">
        <label>Nombre del Producto</label>
        <input type="text" name="nombre" class="control">
    </div>
    <div class="control-formulario">
        <label>Precio</label>
        <input type="text" name="precio" class="control">
    </div>
    <div class="control-formulario">
        <label>Categorias</label>
        <select name="categorias" class="control">
            <option value="hogar">Hogar</option>
            <option value="electro">Electro</option>
            <option value="indumentaria">Indumentaria</option>
        </select>
    </div>
    <div class="control-formulario">
        <label>Ciudad</label>
        <select name="ciudad" class="control">
            <option value="baires">Buenos Aires</option>
            <option value="ros">Rosario</option>
            <option value="mza">Mendoza</option>
        </select>
    </div>
    <div class="control-formulario">
        <label>Descripcion</label>
        <textarea name="descripcion" class="control"></textarea>
    </div>
    <div class="control-formulario">
        <label>Esta en oferta</label>
        <input type="radio" name="enOferta">
    </div>
    <button type="reset" class="boton">Borrar</button>
    <button type="submit" class="boton">Guardar</button>
    </form>
</section>
</main>
<%- include('partials/footer') %>

</body>

</html>